$base-color: #1890ff;

$darken-text: #323233;

$default-text: #646466;

$lighten-text: #969699;

$border: 1px solid #d9d9d9;

$withe: #fff; //白色

$block: #000; //黑色

$border-color: #efefef;

$bg-color: #f4f4f4;

$main-bg-color: #fafafa;

$theme-color: #F0C400;

$btnhover-color: #ff6b26;